/* .nav {
   flex box layout 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
  margin: 0;
} */


